<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(function(){
    $('.print-btn').on('click', function(){
    
    var printArea = document.getElementsByClassName("print-area");
    
    $('body').append('<div id="print" class="printBc"></div>');
    $(printArea).clone().appendTo('#print');
    
    $('body > :not(#print)').addClass('print-off');
    window.print();
    $('#print').remove();
    $('.print-off').removeClass('print-off');
     });
    });
    var i = 1 ;
    function addForm() {
      var input_data = document.createElement('input');
      input_data.type = 'text';
      var parent = document.getElementById('form_area');
      parent.appendChild(input_data);
      i++ ;
    }
</script> 

<script>  
  textarea=$('#textarea')
  pri=$('#pri')

    function menu(btn) {
      let btns=btn.split("-"); 
      textarea.val(textarea.val() +btns[0]+"\n");
      pri.val(pri.val() +btns[1]+"+");
    }

    function sum() {
        document.getElementById('sumpri').value=eval(document.getElementById('pri').value.slice(0,-1));
    }

    function prican() {
        pri.val(pri.val().slice(0,-4));
        textarea.val(textarea.val().slice(0,-7))
    }

</script>

<script>
  $(document).ready(function(){
      $('.shop-name').on('click',function(){
          $(this).next().toggleClass('click-btn')
      });
  });
</script>