* {
  outline: 0;
  margin: 0;
  padding: 0;
}

a {
  color:black;
  text-decoration: none;
}

ul {
  list-style:none;
}

li{
  text-align:center ;
}

#reservation_image {
 margin:0 auto;
}

#order-btn {
  width:20%;
  height:50px;
  margin:10px;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 900;
}

@media screen and (max-width: 480px){
 body {
   width:100%;
 }

 .content { 
  border-radius:.25em;
  box-sizing:border-box;
  left:50%;
  text-align:center;
  top:50%;
 }

 button {
  width:50px;
  height:30px;
  margin:5px;
  border-radius: 100%;
}
#info_image {
  width:100%;
}
#reservation_image {
  width:80%;
}
}

@media screen and (max-width: 1024px){

.submit {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
  font-weight:900;
  width:45%;
  background-color: white;
}

.user {
  margin-top:30px;
  font-size:24px;
}

button {
  width:50px;
  height:50px;
  margin:5px;
  border-radius: 100%;
}

.submit.user {
  width:300px;
}
}








